html {
  height: auto;
}

/* body background and font stying */
body{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

/* page header */
.Page-header {
  text-align: center;
  padding-bottom: 2%;
  font-family: 'Merriweather', serif;
}

.navbar-custom{
  padding: 2%;
}

/* container styling */
.container{
  padding: 2% 0%;
}

/* size smaller than the container  */
.medium-container {
  text-align: center;
  margin-top: 2%;
  max-width: 50%;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* glass container styling */
.glass-container{
  padding: 2%;
  background: rgba( 255, 255, 255, 0.00 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px; 
}

/* link styling */
.link-text {
  color: black;
  text-decoration: none;
}
.link-text:hover{
  text-decoration: none;
}

/********************************************/

/* note-folder styling */
.folder-box{
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2%;
}
.folder-box:hover {
  transform: scale(0.9);  
}

/********************************************/

/* note-list styling */
.menu {
  float: right;
}
.list-group{
  padding: 5% 10%
}
.list-group-item{
  margin-bottom: 2%;
  border-radius: 10px;
  cursor: pointer;
}
/********************************************/

/* note body styling */
.note-container{
  padding: 5%;
  background: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
}

/********************************************/

/* major card column styling */
.card-column {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.major-card {
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(135, 133, 133, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.major-label-box{
  padding: 5% 0%;
  border-radius: 10px;
  background: white;
}
/********************************************/

/* button for all pages*/
.btn-info {
  background-color: #7da0f0;
  color: white;
}
.btn-info:hover {
  background-color: #7da0f0;
}
.btn-outline-info {
  border-color: #698fe6;
  color: #698fe6;
}
.btn-outline-info:hover {
  background-color: #7da0f0;
  color: white;
}
/*******************/

/* form styling, all text align left */
.form {
  text-align: left;
  padding: 2%;
}

/********************************************/

/* editor styling */
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color:rgb(247, 240, 240);
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

  
  